<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.speedy.wear">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:label="@string/app_name"
                android:name=".OnboardingStep1Activity"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:label="@string/title_activity_onboarding_step2"
                android:name=".OnboardingStep2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:label="@string/title_activity_onboarding_step3"
                android:name=".OnboardingStep3Activity">
        </activity>
        <activity
                android:label="@string/title_activity_onboarding_setp4"
                android:name=".OnboardingStep4Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
                android:name="com.google.android.wearable"
                android:required="false" />

        <activity
                android:label="@string/title_activity_in_race"
                android:name=".InRaceActivity"
                android:theme="@android:style/Theme.DeviceDefault.Light">
        </activity>
    </application>

</manifest>